---
---

$primary: #FC766A;


html,body,section,.container-fluid,.row,.container {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3 {
  font-family: 'Josefin Sans', sans-serif;
}
h4 {
  font-size: 20px;
}
.container-fluid {
  padding: 0;
}
#sectionImage {
  background-image: url('https://scontent-lhr3-1.cdninstagram.com/vp/92a82f2fd86f5e738d442307fed1dee2/5CA3CA58/t51.2885-15/e35/38540347_497393084019699_148985814133506048_n.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 50px;
}
#profile,#experience {
  height: 50%;
}
#profile {
  background-color: $primary;
  color: white;
}
.btn.btn-primary {
  border: 3px solid $primary;
  border-radius: 1px;
  background-color: white;
  color: $primary;
  font-weight: bold;
  text-transform: uppercase;
}
.btn.btn-primary:hover,.btn.btn-primary:focus,.btn.btn-primary:focus-within,.btn.btn-primary:active,.btn.btn-primary:active:focus {
  background-color: $primary;
  border: $primary;
  color: white;
  outline: none;
  -webkit-outline: none;
}
.square:nth-of-type(2n) {
  background-color: $primary;
  color: white;
}
