<section id="menu">
  <div class="container">
  <div class="row">
      <div class="card card-cascade wider">
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="https://media.licdn.com/dms/image/C5603AQHB-V99yI63DQ/profile-displayphoto-shrink_800_800/0?e=1534982400&v=beta&t=P1LVsWEDWEyUh6MqJUrNY7yKxXXQOyzi3X2fcBk2HyE" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body card-body-cascade text-center">
          <h4 class="card-title"><strong>{{site.title}}</strong></h4>
          <h5 class="blue-text pb-2"><strong>{{site.description}}</strong></h5>
          <ul class="nav flex-column">
            <li class="nav-item" data-pageID="about" id="about">About</li>
            <li class="nav-item" data-pageID="experience" id="experience">Experience</li>
            <li class="nav-item" data-pageID="education" id="education">Education</li>
            <li class="nav-item" data-pageID="contact" id="contact">Contact</li>
          </ul>
          <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin"></i></a>
          <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
          <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
